@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
  background: black;
  border: 0;
  margin: 0;
  border-radius: 50px;
  padding: 15px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: white;
}
button:hover {
  color: grey;
}

.App {
  display: flex;
}

/* SIDEBAR STYLES */

.app-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.app-sidebar-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* justify-content: space-between; */
  padding: 25px;
}
.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.sidebar-note-title strong
{
  margin-left: 10px;
}

.delete-btn
{
  position: fixed;
  margin-left: 20vw;
}

.title-logo, .title-logo-2
{
  /* border: 50%; */
  border-radius: 50%;
  padding: 20px;
  font-size: large;
  font-weight: 400;
  background: skyblue;
  color: white;
}

.title-logo-2
{
  margin-left: 20px;
  justify-self: center;
}
.app-sidebar-note button {
  color: white;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #ddd;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background:#F7ECDC;
  color: black;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 70%;
  height: 100vh;
  overflow-y: scroll;
}

.main-nav
{
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #E8E8E8;

}

.app-main-note-edit,
.app-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  /* line-height: 100vh; */
  text-align: center;
  background: #F7ECDC;
  /* font-size: 2rem; */
  color: black;
}
.no-active-note-img
{
  height: 50%;
  width: 50%;
}
.no-active-note h2{
  color: black; 
  font-size: 30px;
  font-weight: 400; 
  
}

.no-active-note p{
  size: 22px; 
  font-weight:400px
}
.lock-img
{
  height: 12px;
  width: 10px;
}
.no-active-note footer {
  
    position: relative;
    bottom: -20%;
    left: 0;
    /* width: 100%; */
    background-color: none;
    font-size: 12px;
    text-align: center;
  
}

/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background:#F7ECDC;
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}